<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="leon.languages.alphabets">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher04"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".startingscreen.StartingScreenButtonActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test.AlphabetTestActivity" />
        <activity android:name=".preference.AlphabetPreferenceActivity" />
        <activity
            android:name=".learning.AlphabetLearningActivity"
            android:uiOptions="splitActionBarWhenNarrow" />

        <service android:name=".multimedia.PlayAudioService" />
    </application>

</manifest>
